<!DOCTYPE html>
<html>
  <head>
    <title>GamesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <nav>
        <a href="/magic8ball">Magic 8 Ball</a>
        <a href="/secretnumber">Secret Number</a>
        <a href="/rockpaperscissors">Rock Paper Scissors</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
