<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
            <a href="/home">home</a>
            <a href="/magic_8_ball">Magic 8 Ball</a>
            <a href="/secret_number">Secret Number</a>
            <a href="/rock_paper_scissors">Rock Paper Scissors</a>
    </nav>

    <%= yield %>
  </body>
</html>
