<!DOCTYPE html>
<html>
  <head>
    <title>MountainRanges</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'All mountans', mountans_path %>
      <%= link_to 'New mountan', new_mountan_path %>
    </nav>
    <%= yield %>
  </body>
</html>
