<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <a href="/magic_8_ball">Magic 8 ball</a>|
    <a href="/secret_number">Lucky guess</a>|
    <a href="/scissors_paper_rock">Scissors, Paper, Rock</a>
  </nav>
    <%= yield %>
  </body>
</html>
