<br>
<div>
   <img class="img-thumbnail" src=<%= @thumbnail %> alt="book's cover"> 
</div>
<br>

<div>
    <dl class="row">
    <dt class="col-sm-3">Author(s)</dt>
    <dd class="col-sm-9"><%= @author %></dd>

    <dt class="col-sm-3">Published date</dt>
    <dd class="col-sm-9"><%= @published_date %></dd>

    <dt class="col-sm-3">Category</dt>
    <dd class="col-sm-9"><%= @categories %></dd>

    <dt class="col-sm-3">Average Rating</dt>
    <dd class="col-sm-9"><%= @average_rating %></dd>
    </dl>
<div>
