<!DOCTYPE html>
<html>
  <head>
    <title>WhiskeyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <%= link_to 'All Breweries', breweries_path %>
  <%= link_to 'New Brewery', new_brewery_path %> |
  <%= link_to 'All Whiskeys', whiskeys_path %>
  <%= link_to 'New Whiskey', new_whiskey_path %>
  </nav>
    <%= yield %>
  </body>
</html>
