<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamesOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/games.css">
  </head>
  <body>

    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/assets/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <a class="nav-link" href="/magic_ball/question">Magic 8 Ball</a>
        <a class="nav-link" href="/secret_number/guess">Guess Number</a>
        <a class="nav-link" href="/rock_paper_scissors/choose">Rock Paper Scissors</a>
      </div>
    </nav>
  
    <%= yield %>

    <script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
