
    <h1>
        <%= @title %>
    </h1>
    <img src="<%= @img_src %>" alt="">
    <div class="info">

        <p>
            <span>Authors: </span>
            <%=@authors %>
        </p>
        <p>
            <span>Description: </span>
            <%=@description %>
        </p>
        <p>
            <span>Categories: </span>
            <%=@categories %>
        </p>
        <p>
            <span>Publisher: </span>
            <%=@publisher %>
        </p>
        <p>
            <%= %>
        </p>
        <p>
            <%= %>
        </p>
    </div>

    <!--
    <h1>
        <%= @title %>
    </h1>
    <img src="<%= @img_src %>" alt="">
    <div class="info">

        <p>
            <span>Authors: </span>
            <%=@authors %>
        </p>
        <p>
            <span>Description: </span>
            <%=@description %>
        </p>
        <p>
            <span>Categories: </span>
            <%=@categories %>
        </p>
        <p>
            <span>Publisher: </span>
            <%=@publisher %>
        </p>
        <p>
            <%= %>
        </p>
        <p>
            <%= %>
        </p>
    </div> 
    -->
