<h1>Edit Horse's Profile:</h1>

<form action ="/horses/<%= @horse["id"] %>" method="post">
    <label>
        Horse's Name:
        <input name="name" required value="<%= @horse["name"] %>">
    </label>
<br>
    <label>
        Horse's Breed:
        <input name="breed" value="<%= @horse["breed"] %>">
    </label>
<br>
    <label>
        Horse's Age:
        <input name="age" value="<%= @horse["age"] %>">
    </label>
<br>
    <label>
        Horse's Picture:
        <input type="url" name="image" value="<%= @horse["image"] %>">
    </label>
<br><br>
    <button>Edit Horse Profile</button>
</form>