<!DOCTYPE html>
<html>
  <head>
    <title>BeachesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to 'Home', beaches_path %>
        <%= link_to 'All Beaches', beaches_path %>
        <%= link_to 'Create Beach', new_beach_path %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
